[Unit]
Description=LockCode privacy protection
After=graphical-session.target gnome-keyring-daemon.service
PartOf=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/lockcode --background
Restart=on-failure
RestartSec=2

[Install]
WantedBy=graphical-session.target
